{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="well">
            Status: {{ radio.status }}
            {% if radio.state %}
                {{ radio.current_stream.1 }}
            {% endif %}
            <table class="table table-condensed">
                <tr>
                    <td>
                        <a href="/radio/prev" class="btn">
                            <span class="glyphicon glyphicon-step-backward"></span>
                        </a>
                        <a href="/radio/toggle" class="btn">
                            <span class="glyphicon glyphicon-{% if radio.state %}stop{% else %}play{% endif %}"></span>
                        </a>
                        <a href="/radio/next" class="btn">
                            <span class="glyphicon glyphicon-step-forward"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <table class="table">
            <caption>Stations</caption>
            {% for stream in radio.stream_list %}
                <tr {% if radio.selected_stream == loop.index0 %} class="bg-success" {% endif %}>
                    <td>{{ stream.1 }}</td>
                    <td>{{ stream.0 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
